header {
    z-index: 2;
    top: 0px;
    position: sticky;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 119px;
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.2);
}

footer {

}

body {
    src: url("../fonts/Roboto/static");
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 14px;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
    margin: 0px;
}
