.simple-button{
    background-color: #8A53FF;
    color: white;
    padding: 12px 18px;
    border: 0px;
    border-radius: 4px;
}

.simple-button:hover {
    background-color: #7e43fe;
    cursor: pointer;
}

.video-button {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    display: flex;
    align-items: center;
}

.video-button:hover {
    cursor: pointer;
    color: #7e43fe;
}

.video-button::before {
    content: url("../src/profile.png");
    position: relative;
    margin-right: 10px;
}